*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* div.open{
display: none;
} */

/* span{
display: none;
background-color: ;
} */


/* TASK 3 */

/* div{
width: 30px;
height: 30px;
background-color: blue;  
margin-left: 10px;
}
button{
width: 20px;
height: 10px;
font-size: 5px;
margin-left: 10px;
} */
 
/* button{
width: 30px;
height: 15px;
font-size: 8px;
} */