.by-hh{
height: 40vh;
background-color: #f8f9fb;
}
.by-hh h1{
font-size: 45px;
font-weight: 700;
margin-top: 50px;
}
.by-hh p{
font-size: 24px;
}
.by-hh button{
width: 11.5%;
height: 47px;
font-size: 20px;
}
@media(max-width:768px){
.by-hh{
width: 100%;
height: auto;
}
.by-hh h1{
font-size: 33px;
}
.by-hh p{
font-size: 20px;
}
.by-hh button{
width: 35%;
margin-bottom: 40px;
}
}
.freshnew{
width: 100%;
height: auto;
margin-bottom: 50px;
}
.bg-bb i{
width: 60px;
height: 60px;
line-height: 60px;
font-size: 27px;
color: white;
border-radius: 5px;
background-color: #1871f9;
margin-bottom: 20px;
}
.bg-bb h3{
font-size: 24px;
font-weight: 700;
}
@media(max-width:768px){
.freshnew .bg-bb .card-box{
margin-top: 30px;
}
}
footer{
width: 100%;
height: 10vh;
background-color: #212429;
text-align: center;
padding-top: 40px;
}
footer h2{
color: white;
font-size: 16px;
font-weight: 400;
}
