*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
header{
width: 100%;
height: 80vh;
border-radius: 3px;
background-color: #0d1015
}
nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background-color: white;
}
nav ul{
display: flex;
gap: 25px;
list-style: none;
}
nav ul li a{
text-decoration: none;
color: #ffffff;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 18px;
color: #6c7574;
}
nav ul li a:hover{
    color: rgb(212, 195, 195);
}
header nav a h1{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 22px;
color: white;
}
header nav button{
width: 120px;
height: 43px;
color: white;
background-color: #00bc95;
border-radius: 4px;
margin-left: 50px;
border-color: #00bc95;;
}
header nav a h1{
color: black;
}
header nav ul li a{
font-size: 18px;
}
.car1{
color: white;
}
.car1 h1{
font-size: 35px; 
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-top: 273px;
padding-left: 100px;
}
.car1 p{
font-size: 17px;
padding-left: 100px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: #7d8790;
padding-top: 10px;
}
.car1 button{
width: 11%;
height: 55px;
background-color: #02b995;
color: white;
font-size: 17px;
border-radius: 5px;
margin-left: 100px;
margin-top: 30px;
}
.sec1{
width: 100%;
height: 69vh;
}
.sec1 div h3{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 15px;
color: #777f84;
padding: 64px 100px;
}
.sec1 div hr{
width: 80% ;
margin-left: 100px;
}
.car2{
padding-left: 100px;
}
.car2 h1{
font-size: 20px;   
color: #3a3931;
padding-top: 39px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.car2 h2{
font-size: 17px;
color: #8b99af;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.car2 p{
font-size: 17px;    
font-family: Arial, Helvetica, sans-serif;
padding-top: 20px;
color: rgb(99, 99, 99);
}
.sec2{
width: 100%;
height: 38vh;
background-color: #f2f5fc;
}
.sec2 div h3{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 15px;
color: #777f84;
padding: 30px 100px;
}
.sec2 div hr{
width: 80% ;
margin-left: 100px;
}
.car3{
padding-left: 100px;
}
.car3 h1{
font-size: 20px;   
color: #3a3931;
padding-top: 39px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.car3 h2{
font-size: 17px;
color: rgb(136, 125, 125);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.car3 p{
font-size: 17px;    
font-family: Arial, Helvetica, sans-serif;
padding-top: 20px;
color: rgb(136, 125, 125);
}
.sec3{
width: 100%;
height: 40vh;
}
.sec3 div h3{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 15px;
color: #777f84;
padding: 55px 100px;
}
.sec3 div hr{
width: 80% ;
margin-left: 100px;
}
.car4 h2{
padding-left: 100px;
padding-top: 36px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 16px;
color: rgb(136, 125, 125);
padding-bottom: 20px;
}
.sec3 .car5 ul li{
font-size: 15px;
font-family: Arial, Helvetica, sans-serif;
padding-left: 100px;
padding-top: 3px;
color: rgb(65, 55, 55);
}
.sec4{
width: 100%;
height: 35vh;
background-color: #f2f5fc;
}

